[
  {rabbit, [
{#
   If there is a listening address defined for the insecure TCP listener,
   declare it.
#}
{% if rabbitmq_conf_tcp_listeners_address != '' %}
    {tcp_listeners, [{"{{ rabbitmq_conf_tcp_listeners_address }}", {{ rabbitmq_conf_tcp_listeners_port }}}]}{% if rabbitmq_ssl %},
{% endif %}
{#
   Otherwise,
#}
{% else %}
    {tcp_listeners, [{{ rabbitmq_conf_tcp_listeners_port }}]}{% if rabbitmq_ssl %},
{% endif %}
{% endif %}
{% if rabbitmq_ssl %}
    {ssl_listeners, [{"{{ rabbitmq_conf_ssl_listeners_address }}", {{ rabbitmq_conf_ssl_listeners_port }}}]},
    {ssl_options, [
      {cacertfile, "{{rabbitmq_conf_ssl_options_cacertfile}}"},
      {certfile, "{{rabbitmq_conf_ssl_options_certfile}}"},
      {keyfile, "{{rabbitmq_conf_ssl_options_keyfile}}"},
      {verify, verify_peer},
      {fail_if_no_peer_cert,{{rabbitmq_conf_ssl_options_fail_if_no_peer_cert}}}
      ]}
{% endif %}

{% if rabbitmq_vm_memory_high_watermark %}
, {vm_memory_high_watermark, {{rabbitmq_vm_memory_high_watermark}} }
{%- endif %}

{% if rabbitmq_cluster %}
, {cluster_nodes,
    {[
  {%- for host in ansible_play_hosts %}
    'rabbit@{{ hostvars[host]['inventory_hostname'] }}'{% if not loop.last %},{% endif %}
  {%- endfor %}
    ], disc }
  }
{%- endif %}

  ]}
].
